@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --silver-white: #f6f6f8;
    --silver: #878787; 
    --pink: #FB7DC3;
    --green: #008000;
    --white: #ffffff;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
span {
    font-weight: 300;
}
.pr-15 {
    padding: 0 15px;
}
.pr-16 {
    padding: 0 16px;;
}
.pc-6 {
    padding: 6px 0;
}
.mt_10{
    margin-top: 10px;
}
.bd-bot {
    border-bottom: 1px solid #eee;
}
.hire {
    display: none; 
}
.star {
    color: yellow;
}
.ta-c{
    text-align: center;
}
.mr-10 {
    margin: 0 5px;
}
.mc-5 {
    margin: 5px 0;
}
.mc-10 {
    margin: 10px 0;
}